<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSMS</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Assets/css/all.css">
        <link rel="stylesheet" href="~/Assets/css/style.css">
    </environment>
</head>
<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg bg-dark" style="height: 70px;"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg">
                                <i class="fas fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="~/Assets/img/avatar-1.png" class="rounded-circle mr-1">
                            <div class="d-sm-none d-lg-inline-block">Hi,Sadar</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-title">Logged in 5 min ago</div>
                            <a href="features-profile.html" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="features-activities.html" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i> Activities
                            </a>
                            <a href="features-settings.html" class="dropdown-item has-icon">
                                <i class="fas fa-cog"></i> Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="#">SSMS Admin</a>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="#">SSMS</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li class="nav-item dropdown active">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-fire"></i><span>Dashboard</span>
                            </a>
                        </li>
                        <li class="menu-header">Admin Activities</li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                                <i class="fas fa-columns"></i> <span>Manage Catagory</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="SetProductCatagory">Set Product Catagory</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="ProductCatagoryDetails">Product Catagory</a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-utensils"></i> <span>Manage Product</span>
                            </a>
                            <ul class="dropdown-menu">
                               
                                @*<li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="AddQuantityType">Add Quantity Type</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="QuantityTypeDetails">Show Quantity Type</a>
                                </li>*@
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="AddProduct">Add Product</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="ProductList">Product List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown" data-toggle="dropdown">
                                <i class="fas fa-columns"></i> <span>Manage Employee</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>

                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="AddDesignation">Add Designation</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="DesignationList">Designaton List</a>

                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="AddEmployee">Add Employee</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                       asp-action="EmployeeList">Employee List</a>

                                </li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-th"></i> <span>Manage Stock</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" asp-area="StockManager" asp-controller="Home"
                                       asp-action="AddStock">Add Stock</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="StockManager" asp-controller="Home"
                                       asp-action="StockDetails">Stock Added List</a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-area="StockManager" asp-controller="Home"
                                       asp-action="AvailableStock">Available Stock</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link has-dropdown">
                                <i class="fas fa-th"></i> <span>Manager Offers</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="nav-link" href="#">Add New Offer</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#">Offer List</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                        <a href="" class="btn btn-primary btn-lg btn-block btn-icon-split">
                            <i class="fas fa-calendar" aria-hidden="true"></i> Date : @DateTime.Now.ToShortDateString()
                        </a>
                    </div>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">

                    @RenderBody()

                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-right">
                    Copyright &copy; 2020
                    
                </div>

            </footer>
        </div>
    </div>


    <environment include="Development">
        <script src="~/Assets/AJAX/ajaxjQueryjquery1.11.3.min.js"></script>
        <script src="~/Assets/AJAX/ajaxjqueryvalidate1.14.0jquery.validate.min.js"></script>
        <script src="~/Assets/AJAX/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Assets/js/jQuery.min.js"></script>
        <script src="~/Assets/js/bootstrap.min.js"></script>
        <script src="~/Assets/js/NiceScroll.min.js"></script>
        <script src="~/Assets/js/scripts.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
