@{
    ViewData["Title"] = "AddDesignation";
}
@model SSMS.Areas.Admin.ViewModels.DesignationVM

<div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 grid-margin stretch-card">
        <div class="card" style="border-radius: 8px;box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.4);background-color: #e3e3e3;">
            <div class="card-body">
                <h4 class="card-title">Add Designation</h4>
                <form class="forms-sample" asp-area="Admin" asp-controller="Home" asp-action="AddDesignation" method="post">
                    @if (ViewBag.Validation != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Validation
                        </div>
                    }
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Success
                        </div>
                    }
                    <div class="form-group">
                        <label>Enter Designation Name</label>
                        <input class="form-control" placeholder="Designation Name..." asp-for="DesignationName">
                        <span asp-validation-for="DesignationName" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary float-right" style="background-image:linear-gradient(#4776e6,#8e54e9);">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>


