
@model List<SSMS.Areas.Admin.ViewModels.ProductCatagoryVM>

@{
    ViewData["Title"] = "ProductCatagoryDetails";
}

<div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 col-xl-10 grid-margin stretch-card">
        <div class="card" style="border-radius: 8px;box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.4);background-color: #e3e3e3;">
            <div class="card-body">
                <h4 class="card-title text-center">Product Catagory Details</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Serial
                                </th>
                                <th>
                                    Product Catagory Name
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Serial
                                    </td>
                                    <td>
                                        @item.ProductCatagoryName
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Home" asp-action="DeleteProductCatagory" asp-route-id="@item.ProductCatagoryId">Delete</a>
                                        <a class="btn btn-info text-light" asp-area="Admin" asp-controller="Home" asp-action="UpdateProductCatagory" asp-route-id="@item.ProductCatagoryId">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
